#container{
    display: grid;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 255, 213);
    padding: 15px 50px;
    border-radius:25% ;
}

#value{
    margin: 6px;
    padding: 6px;
    width: 180px;
}

#unit{
    margin: 6px;
    padding: 6px;
    width: 200px;
}

#button{
    margin: 6px;
    padding: 6px;
    width: 200px;
    color: black;
    background-color: rgb(112, 112, 232);
    font-size: medium;
}
#button:hover{
    margin: 6px;
    padding: 6px;
    width: 200px;
    color: black;
    background-color: rgb(66, 66, 170);
    font-size: medium;
}

#result{
    border: 2px solid rgb(213, 60, 213);
    padding: 6px 3px;
    border-radius:25% ;
}
