#container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 15%; */
}
#marq{
    font-weight: bolder;
}
#poem-box {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
  border-radius: 15px;
  padding: 25px;
  background-color: yellow;
  font-size: 3em;
}
#poem-body {
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

